.box-information:hover{
    background: rgba(18, 94, 86, 0.507);
    color: white;
    box-shadow: 10px 16px 10px 10px rgb(12, 56, 52);
    }
    header nav ul li a:hover{
        background: rgb(3, 146, 161);
    }
    

    .portada{
        width: 100%;
        height: 400px;
        background-image: url(/proyecto-tecnologia-web/imagenes/fusion-medical-animation-rnr8D3FNUNY-unsplash.jpg);
        background-size: 200%;
        animation: movimiento 15s infinite linear alternate;
    }
    @keyframes movimiento{
        from{
            background-position: bottom left;
        }
        to{
            background-position: top right;
        }
    }
    
    .cont-details{
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: auto;
    }
    .details{
        width: 100%;
        max-width: 500px;
        position: relative;
        margin: 10px;
        margin: 10px;
        color: white;
    }
    .details h1{
        font-size: 50px;
        font-weight: 100;
    }
    .details p{
        margin-top: 10px;
        font-size: 20px;
    }
    .details button:hover{
        background-color: white;
        color: black;
    }
    #botons{
        background: none;
        color: white;
        border-style: solid solid solid solid;
        border-color: white;
        text-decoration: none;
        font-size: 20px;
        padding: 10px;
    }
    